doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		title Untitled

	body
		.container
			block content



		script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(src='/main.js')
		